{% extends 'cms/layout.html' %}

{% block main %}
<form role="form" method="post" action="{{upload_url}}" enctype="multipart/form-data" >
  <div class="form-group">
    <label for="write-title">Title</label>
    <input type="text" class="form-control" name="title" id="write-title" placeholder="">
  </div>
  <div class="form-group">
    <label for="write-tags">Tags</label>
    <input type="text" class="form-control" name="tags" id="write-tags" placeholder="">
  </div>

  <div class="form-group">
    <label for="write-body">Body</label>
    <textarea class="form-control" id="write-body" name="body" rows="7" ></textarea>
  </div>
  <div class="form-group">
    <label for="write-file">Image upload</label>
    <input type="file" id="write-file" name="file">
    <!--<p class="help-block">Example block-level help text here.</p>-->
  </div>
  <div class="form-group">
    <label for="write-movie">Movie URL</label>
    <input type="text" class="form-control" name="movie_url" id="write-movie" placeholder="">
  </div>

  <button type="submit" class="btn btn-default">저장</button>
</form>
{% endblock %}