
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>내웹서버 CMS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-markdown.min.css">
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div class="container">
  <div class="head-container">
    <h1 class="title">내웹서버 Admin</h1>
    <ol class="table-of-contents">
      <!--<li><a href="/cms/write">New</a></li><span> &middot; </span>-->
      <li><a href="{{url_for('admin-list')}}">List</a></li>
      <!--<span> &middot; </span><li><a href="/cms/search">Search</a></li>-->
    </ol>
    <form action="{{url_for('admin-search')}}" id="search">
      <div class="keyword" id="prefetch">
        <input class="typeahead" type="text" name="query" placeholder="입력해보세요" autofocus>
      </div>
    </form>
  </div>

  <div class="app-body">
    {% block main %}
    {% endblock %}
  </div>
</div>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/markdown.js"></script>
<script src="/static/js/to-markdown.js"></script>
<script src="/static/js/bootstrap-markdown.js"></script>
<script src="/static/js/bootstrap-markdown.kr.js"></script>
<script src="/static/js/typeahead.bundle.js"></script>
<script src="/static/js/index.js"></script>
<script src="/static/js/cms.js"></script>
</body>
</html>
